:root {
    --primary-bg-color: hsl(30, 38%, 92%);
    --card-bg-color: hsl(0, 0%, 100%);
    --h1-p-color: hsl(228, 12%, 48%);
    --product-name-color: hsl(212, 21%, 14%);
    --current-price-color: hsl(158, 36%, 37%);
    --button-bg-color: hsl(158, 36%, 37%);
    --button-font-color: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, picture, video {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: var(--primary-bg-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35rem;

    background-color: var(--card-bg-color);
    border-radius: 0.5rem;
}

img {
    width: 50%;
    border-radius: 0.5rem 0 0 0.5rem;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

h1 {
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--h1-p-color);

}

h2 {
    color: var(--product-name-color);
    font-size: 2.5rem;
}

p {
    font-size: 0.875rem;
    color: var(--h1-p-color);
}

.prices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.current-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--current-price-color);
}

.prev-price {
    font-size: 0.875rem;
    text-decoration: line-through;
    color: var(--h1-p-color);
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-font-color);
    font-size: 1rem;
    font-weight: 700;
    
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
}

footer { 
    font-size: 11px; 
    text-align: center; 

    position: absolute;
    bottom: 1rem;
}

footer a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
